# Python & Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env

# Virtual environments
venv/
env/
PiMonitor/known_faces/
PiMonitor/config.py

# IDEs e editor
.vscode/
.idea/

# Sistema operativo
.DS_Store

